@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root{
   --conteudo-principal:#000080;
   --titulo-principal:#FFFAFA;
   --botoes:#FFD700;
   --aba-texto:
    }

    body{
        background-color: var(--cor-fundo);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }